<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">

    <label for="name">Name: <br></label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <br>
    <label for="lastName">Lastname: <br></label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br>
    <br>
    <label for="age">Age: <br></label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <br>
    <label for="city">City: <br></label>
    <input type="text" th:field="*{city}" id="city">
    <br>
    <br>
    <label for="email">eMail: <br></label>
    <input type="text" th:field="*{email}" id="email">
    <br>
    <br>
    <input type="submit" value="Edit user">
    <button type="button" onclick="location.href = '/';">Return</button>&nbsp;
</form>

</body>
</html>